.container{
    display: flex;
    
    overflow: auto;
    white-space:nowrap;
    position: relative; 
    width: 100%;
    transition: all 1s;

}
.singlecard{
    margin-top: 10px;
    margin-right: 10px;
    padding: 0 15px;
    
}
.container button{

   height:37px;
    background-color: black;
    color: #fff;
   
}
.container .titleButton{
    display: flex;
    justify-content: space-between;

}
.container button:hover{
    color: #000;
    background-color: #f1f1f1;

}