.container {

  display: flex;
  flex-direction: column;
  text-align: center;
    width: 83vw;
}
.container .span{
    min-height: 115px;
}
.container span h1{

    font-size: 4rem;
    font-weight: bolder;

   
}
.container span h2{

    font-size: 3rem;
    font-weight: bolder;
  

    
}

.container h3{
    font-size: 1.5rem;
    font-weight: bold;
   

   color:rgba(100, 100, 100, 0.516);

}