.container {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  line-height: 2.25rem;
  letter-spacing: -0.025em;

}
.form {
 width: fit-content;
 background-color: rgb(255, 255, 255);
}
.forminput input {
  border: .5px solid gray;
  border-radius: 5px;
  height: 45px;

  padding: 5px;
  width: 384px;
}

.form label{
  margin-top: 7px;
  color:rgba(163, 171, 188, 0.793);
  
}

.form input:focus{
outline: none;}
.form .header{
  height: 152px;
  font-weight: 700;
}
.form h1  {
  text-align: center;
  font-size:2.25rem;
  font-weight: bold;
  margin-top: 40px
}
.form h2{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  
}

.forminput .nameandlast{
  display: flex;
  
}

.name{

  margin-right: 10px ; 
  margin-bottom: 10px;
}
.nameandlast  input{
  width: 187px;
}


.password{
 display: flex;
 flex-direction: column;
}

.button button{
  width: 384px;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: .875rem;
  border-radius: 5px;
  margin-top: 17px;

}
.button button:hover{
  background-color: rgb(75 85 99);

}
.clicked button{
  cursor: not-allowed;
  width: 384px;
  background-color: #00000039;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: .875rem;
  border-radius: 5px;
  transition: all .15s;
}
.login {
  margin-top: 1.5rem;
  text-align: center;
}
.login span{
  font-size: 1rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 0.838);

  
}
.google{
  text-align: center;
  margin-top: 5px;
}
.login a {
  color:#000;
  font-weight: 600;
  transition: all .15s;

}
.login a:hover{

  color:rgba(97, 104, 117, 0.988)

} 
.diverror{
  display: block;
  font-size:0.80rem;
  top: 5px;
  line-height: normal;
 height:0.8rem ;
}
.texterror{

  font-size:0.80rem;

}

@media screen and (max-width:640px) {
 .nameandlast{
  flex-direction: column;

 }
 .nameandlast input{
  width: 100%;
 }
 .name {
  width:100%;
 }
}
@media screen and (max-width:420px) {
  .nameandlast{
   flex-direction: column;
  
    
  }
  .diverror{

  
    min-height: 3vh;

  }
  .texterror{
    font-size: .7rem;
  }

  .form {
    max-width: 90vw;
  }

 
  .email input ,.password input ,.nameandlast input ,.button button{
    max-width:90vw;
  }  


 }
 
